
#showcase {
  background-image:url('../Img/web-computer6.jpg');
  height: 100vh;
 max-width: 100%;
  background-size: cover;
  background-position:fixed;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
 }

 
 #showcase h1{
  font-size: 60px;
  color: orange;
  margin-left: 53px;
  margin-top: 30px;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#showcase h2{
  font-size: 60px;
  color: white;
  margin-left: 80px;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
  text-align: center;

}

#btn {
  border-color: black;
  margin-left: 330px;
  color: wheat;
  background-color: orangered;
}

#about {
    background-color:orange;
    justify-content: center;
    height: 630px;
    max-width: 100%;
  align-content: center;
  color: antiquewhite;
  font-display: center;
  font-size: 100px;
  justify-content: center;
}

.about {
  color: red;
  margin-top: 15px;
font-size: 50px;
}

h2.about{
  margin-top: 20px;
  margin-bottom: 15px;
}
h2:hover {
  color: red;
}

.amazonas {
  margin-bottom: 5px;
}
#second{
  background-color:wheat;
  height: 600px;
  max-width: 100%;
color: black;
font-display:left;
font-size: 100px;
justify-content: ;
align-content: center;
font-size: 100px;


}

#second h1{
  font-size: 50px;
  margin-left: 0px;
  margin-top: 30px;
  color: red;
}

.entry {
  margin-top: 20px;
  color: orangered;
}



.row #icons { 
color: black;
margin-left: 95px;
display:-webkit-inline-flex;
}

#icon {
font-size: 110px;
margin-bottom: 30px;
}

.icon-javascript {
  font-size: 118px;
  margin-top: 30px;
}
.icon-nodejs {
  font-size: 116px;
  margin-bottom: 50px;
}
#react {
  margin-bottom: 35px;
  font-size: 110px;
  margin-left: 0px;
}
#flex {
  background-color: black;
  display: inline;
}
/*
.flex-container{
  display: flex;
}
i {
  font-size: 80px;
  color: black;
  height: 50vh;
  margin-right: 100px;
  width: 100vh;
  }

  .icon {
    font-size: 90px;
    font-display: ;
    color: orange;
    margin-right:;
  height: 15vh;
  display: flex;
  margin-block-start: ;
  margin-block-end: ;
  }

  
#icon h2{
  font-display: ;
  padding-top: 20px;
  font-size: ;
}

.iconJS {
  font-size: 90px;
  color: orange;
  display: flex;
}

.git {
  font-display: ;
  font-size: 90px;
  display: flex;
}



#icon:hover {
  color: red;
}



i:hover {
color: red;
}
#iconJS:hover {
  color: red;
}

img {
  max-width: 100%;
}
/*

article #tech{
  background-color:black;
  justify-content:left;
  height: 600px;
max-width: 100%;
align-content: ;
color: antiquewhite;
font-display: ;
font-size: 100px;

}




.ola {
  color:orange;
  margin-left: 
margin-top:;
font-size:60px;
}

.oi {
  color:whitesmoke;
font-size: 50px;
margin-top: 200px;
margin-left: 0px;

}


btn:hover {
  background-color: brown;
  margin-left: 150px;

}
.id-about{
  justify-content: center; 
  color: red;

} 


  
  
h1{
align-self: auto;
margin-top: 35px;
position: relative;
font-display: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 50px;
font: red;
}






h3{
  color:red;
  font-size-adjust: initial;
  font-size: 48px;
  justify-content: center;
  
  




p {
  color: blanchedalmond;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
}

#third{
  background-color: rgb(15, 1, 1);
  justify-content: center;
margin-right: 30px;
 align-content: center;
}

body {
  margin:0;
  font-family: Arial, "Helvetica Neue",
                Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}





.session1 h1{
  font-size: 60px;
  padding-left: 0px;
  color:;
font-weight: bold;
margin-left: 30px;
}

.session1 h2{
font-size: 50px;
  color: orange;
  padding-left: 20px;
  padding-right: 20px;
  padding: center;
  font-display: center;
  padding-bottom: 5px;
  margin-left: 20px;
  display: flex;
}






#hi {
height: 100vh;
max-width: 90%;
background-color:rgb(15, 1, 1);
justify-content: center;
}

#hi h2 h3 {
  color: blanchedalmond; 
}
.hello  {
  display: flex;
  justify-content: center;
color: white;

}

#leila{
  justify-content: flex-start;
  margin-block-start: 20px;
}

#forty{
  height: 100vh;
max-width: 90%;
background-color: blue;

}


/*
.table1 {
  /*background-image:url('../Img/pexels-photo-330771.jpg');
  margin-bottom: 20px;
  display: inline-table;
  margin-left: 350px;
  padding-bottom: 25px;
  max-width: 100%;
  max-height: 100%;
}
/*
.session1 {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100%;
  
}

ul li {
  float: left;
   fill-opacity: .8;
   background-color: transparent;
   display: fixed;
  width: 80px;
  height: 10px;
   opacity: 0.8;
   margin-top: 10px;
   font-size: 20px;
   line-height: 40px;
  }
 
  #nav {
  color: white;
  margin-left: ;

 align-content: space-between;
}

  ul li a{
    text-decoration: none;
    color: aliceblue;
    display: block;
  }
  ul li a:hover{
    color: orangered;
  }
  ul li ul li{
    display: none;
  }
   ul li:hover ul li {
     display: block;
   }
  
 